@font-face {
  font-family: "Rocky Age";
  font-style: normal;
  font-weight: normal;
  src: local("Rocky Age"), url ("Rocky Age") format ("ttf");
}

h1 {
  font-family: "Rocky Age";
  font-weight: 200;
  color: #0cca8b;
}
